<script type="text/javascript">
   var ingredientnames = [
   {% for i in ingredients %}
   "{{i.name}}", 
   {% endfor %}
   ];
</script>

<h3>Title:</h3>
<input id="titleentry" name="title" size="40" />

<!-- Several ingredient fields -->
<h3>Ingredients:&nbsp;<a href="#" id="morerows">(more)</a></h3>
<table id="ingredienttable">
   <colgroup>
      <col width="200"/>
      <col width="40"/>
      <col/>
   </colgroup>
   <thead><tr>
         <td>Name</td>
         <td>Amount</td>
         <td>Note</td>
   </tr></thead>
   <tbody>
   </tbody>
</table>

<div id="seasonbar">
   <h3>Season:</h3>
   <div id="seasons">
      <a href="#" id="spring">Spring</a><br/>
      <a href="#" id="summer">Summer</a><br/>
      <a href="#" id="autumn">Autumn</a><br/>
      <a href="#" id="winter">Winter</a><br/>
      <a href="#" id="none">None</a><br/>
      <a href="#" id="all">All</a><br/>
   </div>
   <div class="months">
      {% for month in months %}
      <input type="checkbox" name="{{ month }}"
             >
      {{ month }}
      </input><br>
      {% endfor %}
   </div>
</div>

<div id="instructions">
   <h3>Instructions:</h3>
   <textarea name="instructions"></textarea>
</div>

