{% extends "base.html" %}

{% block title %} About {% endblock %}

{% block content %}

<section id="about">
   <h1>What is this?</h1>

   <img src="http://gravatar.com/avatar/568b06839d3fc4dcd55b8cf4c8d7e656?size=150" />
   <img src="http://gravatar.com/avatar/1eaa1a6c331cf67728581b7da4c787f8?size=150"/>

   <p>This site is the end result of a decade of thinking and collecting.</p>
   <p>
      Becky has been reading about cooking for more than a decade.  Her magazine-clipping stack
      was about two inches thick when Ben noticed it.  They realized this was going to be a
      problem; a collection of entire magazines lets you browse by season or recipe name, but a
      stack of paper doesn't have a spine.  The clippings weren't being used, which defeated
      the purpose of clipping them in the first place.
   </p>
   <p>
      This was the germ of the idea that led to the site you see before you.  Not only is this
      a place for clippings and "someday" recipes, but it's a place to keep all our family
      favorites.  We hope you'll find some of your new favorites here, too.
   </p>

</section>

{% endblock %}

