{% extends "base.html" %}

{% block title %} Add Recipe {% endblock %}

{% block content %}

<script type="text/javascript">
	$(function() {
		var ingredientnames = [
{% for i in ingredients %}
         "{{i.name}}", 
{% endfor %}
		];
		$( ".ingredientnamefield" ).autocomplete({
			source: ingredientnames,
         delay: 0,
		});
      $("button, input:submit").button()
	});
</script>

<form method="POST" action="/addrecipe">

   <h3>Title: <input name="title" /></h3>
   <br/>

   <!-- Several ingredient fields -->
   <h3>Ingredients:</h3>
   <table>
      <colgroup>
         <col width="50"/>
         <col width="30"/>
         <col/>
      </colgroup>
      <thead><tr>
         <td>Name</td>
         <td>Amount</td>
         <td>Note</td>
      </tr></thead>
      <tbody>
         {% for i in ingrange %}
         <tr>
            <td><input class="ingredientnamefield" name="ingredient{{i}}" /></td>
            <td><input name="amount{{i}}" /></td>
            <td><input name="note{{i}}" /></td>
         {% endfor %}
      </tbody>
   </table>

   <h3>Instructions:</h3>
   <textarea name="instructions"></textarea>

   <br/>
   <input type="submit" />
</form>

{% endblock %}
