{% extends "base.html" %}

{% block title %} Add Recipe {% endblock %}

{% block content %}

<script type="text/javascript">
		var ingredientnames = [
{% for i in ingredients %}
         "{{i.name}}", 
{% endfor %}
		];

   var next_ingredient_index = 0;

   function add_new_ingredient_row()
   {
      // Add the row
      $('#ingredienttable > tbody:last').append(
         '<tr class="ingrediententry"> \
            <td><input class="ingredientnamefield" name="ingredient' + next_ingredient_index + '" /></td> \
            <td><input name="amount' + next_ingredient_index + '" /></td> \
            <td><input name="note' + next_ingredient_index + '" /></td>'
      );
      // Enable autocomplete
		$( ".ingredientnamefield" ).autocomplete({
			source: ingredientnames,
         delay: 0,
		});
      // Increment identifiers
      next_ingredient_index++;      
   }

	$(function() {
      $("button, input:submit").button()

      add_new_ingredient_row();

      $("#morerows").click(function() {
         add_new_ingredient_row();
      });
	});
</script>

<form method="POST" action="/addrecipe">

   <h3>Title:</h3>
   <input id="titleentry" name="title" size="40" />

   <!-- Several ingredient fields -->
   <h3>Ingredients:&nbsp;<a href="#" id="morerows">(more)</a></h3>
   <table id="ingredienttable">
      <colgroup>
         <col width="200"/>
         <col width="40"/>
         <col/>
      </colgroup>
      <thead><tr>
         <td>Name</td>
         <td>Amount</td>
         <td>Note</td>
      </tr></thead>
      <tbody>
      </tbody>
   </table>
   

   <h3>Instructions:</h3>
   <textarea name="instructions" width="80"></textarea>

   <br/>
   <input type="submit" />
</form>

{% endblock %}
