{% extends "base.html" %}

{% block title %} Add Recipe {% endblock %}

{% block content %}

<script type="text/javascript">
var ingredientnames = [
  {% for i in ingredients %}
  "{{i.name}}", 
  {% endfor %}
];
</script>

<form method="POST" action="/addrecipe">

   <h3>Title:</h3>
   <input id="titleentry" name="title" size="40" />

   <!-- Several ingredient fields -->
   <h3>Ingredients:&nbsp;<a href="#" id="morerows">(more)</a></h3>
   <table id="ingredienttable">
      <colgroup>
         <col width="200"/>
         <col width="40"/>
         <col/>
      </colgroup>
      <thead><tr>
         <td>Name</td>
         <td>Amount</td>
         <td>Note</td>
      </tr></thead>
      <tbody>
      </tbody>
   </table>
   
   <div id="seasonbar">
     <h3>Season:</h3>
     <div id="seasons">
       <input type="checkbox">Spring</input><br/>
       <input type="checkbox">Summer</input><br/>
       <input type="checkbox">Autumn</input><br/>
       <input type="checkbox">Winter</input><br/>
     </div>
     <div>
       <input type="checkbox" name="january">January</input><br/>
       <input type="checkbox" name="february">February</input><br/>
       <input type="checkbox" name="march">March</input><br/>
       <input type="checkbox" name="april">April</input><br/>
       <input type="checkbox" name="may">May</input><br/>
       <input type="checkbox" name="june">June</input><br/>
       <input type="checkbox" name="july">July</input><br/>
       <input type="checkbox" name="august">August</input><br/>
       <input type="checkbox" name="september">September</input><br/>
       <input type="checkbox" name="october">October</input><br/>
       <input type="checkbox" name="november">November</input><br/>
       <input type="checkbox" name="december">December</input><br/>
     </div>
   </div>
   
   <div id="instructions">
     <h3>Instructions:</h3>
     <textarea name="instructions"></textarea>
   </div>

   <p><input type="submit" value="Create" /></p>
</form>

{% endblock %}
