<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %} | Becky's Recipes</title>
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->    

    <link rel="stylesheet" type="text/css" media="screen" href="/static/screen.css" />
    <link rel="stylesheet" type="text/css" media="print" href="/static/print.css" />

    <!--[if lt IE 8]>
        <link rel="stylesheet" type="text/css" href="/static/ie.css" />
        <![endif]-->
    <link rel="stylesheet" type="text/css" href="/static/css/smoothness/jquery-ui-1.8.7.custom.css" />
    <link rel="stylesheet" type="text/css" href="/static/custom.css" />

    <script type="text/javascript" src="/static/js/jquery-1.4.4.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui-1.8.7.custom.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.tmpl.min.js"></script>
    <script type="text/javascript" src="/static/js/knockout-1.2.1.js"></script>
    <script type="text/javascript" src="/static/js/showdown.js"></script>
    <script type="text/javascript" src="/static/site.js"></script>

    {% ingredient_autocomplete %}

  </head>
  <body>
    <div class="container">
      <header>
         <nav>
            <ul>
               <li><select id="monthselect">
                     <option>Recipes for...</option>
                     <option>January</option>
                     <option>February</option>
                     <option>March</option>
                     <option>April</option>
                     <option>May</option>
                     <option>June</option>
                     <option>July</option>
                     <option>August</option>
                     <option>September</option>
                     <option>October</option>
                     <option>November</option>
                     <option>December</option>
               </select></li>
               <li>
                  <form action="/search" method="post">
                     <input type="string" class="ingredientautocomplete" placeholder="Search" name="q" />
                     <input type="submit" style="display:none;" />
                  </form>
               </li>
            </ul>
         </nav>
        <h1><a href="/">Becky's Recipes</a></h1>
      </header>
      <section>
        {% block content %}
        {% endblock %}
      </section>
    </div>

    <script type='text/javascript'> 
/*<![CDATA[*/
    var viewModel = {};
{% block viewmodel %}
{% endblock %}
    ko.applyBindings(viewModel); // This makes Knockout get to work
/*]]>*/
    </script>

  </body>

</html>

