{% extends "base.html" %}

{% block title %} {{recipe.title}} (Edit) {% endblock %}

{% block content %}

{% verbatim %}
<script type="text/html" id="ingredientTemplate">
   <table id="ingredienttable">
      <colgroup>
         <col width="200"/>
         <col width="40"/>
         <col/>
      </colgroup>
      <thead><tr>
            <td>Name</td>
            <td>Amount</td>
            <td>Note</td>
      </tr></thead>
      <tbody>
         {{each ingredients}}
         <tr class="ingrediententry">
            <td><input class="ingredientautocomplete" data-bind="value: name" /></td>
            <td><input data-bind="value: qty" /></td>
            <td><input data-bind="value: note" /></td>
         </tr>
         {{/each}}
      </tbody>
   </table>
</script>

<script type="text/javascript">
   var springMonths = [
   "March",
   "April",
   "May",
   ];
   var summerMonths = [
   "June",
   "July",
   "August",
   ];
   var autumnMonths = [
   "September",
   "October",
   "November",
   ];
   var winterMonths = [
   "January",
   "February",
   "December",
   ];
   var allMonths = [
   "January",
   "February",
   "March",
   "April",
   "May",
   "June",
   "July",
   "August",
   "September",
   "October",
   "November",
   "December",
   ];
</script>

<script type="text/html" id="monthTemplate">
   <input type="checkbox" name="January" id="January" data-bind="checked: January" />
   <label for="January">January</label><br/>
   
   <input type="checkbox" name="February" id="February" data-bind="checked: February" />
   <label for="February">February</label><br/>
   
   <input type="checkbox" name="March" id="March" data-bind="checked: March" />
   <label for="March">March</label><br/>
   
   <input type="checkbox" name="April" id="April" data-bind="checked: April" />
   <label for="April">April</label><br/>
   
   <input type="checkbox" name="May" id="May" data-bind="checked: May" />
   <label for="May">May</label><br/>
   
   <input type="checkbox" name="June" id="June" data-bind="checked: June" />
   <label for="June">June</label><br/>
   
   <input type="checkbox" name="July" id="July" data-bind="checked: July" />
   <label for="July">July</label><br/>
   
   <input type="checkbox" name="August" id="August" data-bind="checked: August" />
   <label for="August">August</label><br/>
   
   <input type="checkbox" name="September" id="September" data-bind="checked: September" />
   <label for="September">September</label><br/>
   
   <input type="checkbox" name="October" id="October" data-bind="checked: October" />
   <label for="October">October</label><br/>
   
   <input type="checkbox" name="November" id="November" data-bind="checked: November" />
   <label for="November">November</label><br/>
   
   <input type="checkbox" name="December" id="December" data-bind="checked: December" />
   <label for="December">December</label><br/>
</script>
{% endverbatim %}

<form method="post" action="/edit" data-bind="submit: doSubmit">

   <h3>Title:</h3>
   <input id="titleentry" size="40" data-bind="value: title" />

   <h3>Ingredients:</h3>
   <div id="ingredienttable">
      <div data-bind="template: 'ingredientTemplate'"></div>
   </div>

   <div id="seasonbar">
      <h3>Season:</h3>
      <div id="seasons">
         <a href="#" id="spring">Spring</a><br/>
         <a href="#" id="summer">Summer</a><br/>
         <a href="#" id="autumn">Autumn</a><br/>
         <a href="#" id="winter">Winter</a><br/>
         <a href="#" id="none">None</a><br/>
         <a href="#" id="all">All</a><br/>
      </div>
      <div class="months" data-bind="template: 'monthTemplate'"></div>
   </div>

   <div id="instructions">
      <h3>Instructions:</h3>
      <textarea data-bind="value: instructions, valueUpdate: 'afterkeydown'"></textarea>
   </div>

   <input type="hidden" name="key" value="{{recipe.key}}"></input>

   <button type="submit">Save</button>

   <h3>Preview:</h3>
   <div data-bind="html: instructions_html"></div>
   
</form>

{% endblock %}


{% block viewmodel %}
function ingredientViewModel(name, qty, note) {
  this.name = name;
  this.qty = qty;
  this.note = note;
}

model = {{json}};
model.ingredientArray = function() {
  var retval = [];
  for (var i=0; i<model.ingredients.length; i++)
  {
    ing = model.ingredients[i];
    retval.push(new ingredientViewModel(ing.ingredient.name, ing.quantity, ing.note));
  }
  return retval;
}

var converter = new Attacklab.showdown.converter();

// Define viewmodel
viewModel = {
  title: ko.observable(""),
  ingredients: ko.observableArray([new ingredientViewModel('','','')]),
  instructions: ko.observable(""),

  January: ko.observable(false),
  February: ko.observable(false),
  March: ko.observable(false),
  April: ko.observable(false),
  May: ko.observable(false),
  June: ko.observable(false),
  July: ko.observable(false),
  August: ko.observable(false),
  September: ko.observable(false),
  October: ko.observable(false),
  November: ko.observable(false),
  December: ko.observable(false),

  doSubmit: function() {
  }
};
viewModel.instructions_html = ko.dependentObservable(function() {
  return converter.makeHtml(this.instructions());
}, viewModel);

// Fill in viewmodel with model data
viewModel.title(model.title);
viewModel.ingredients(model.ingredientArray());
viewModel.instructions(model.instructions);
viewModel.January(model.january);
viewModel.February(model.february);
viewModel.March(model.march);
viewModel.April(model.april);
viewModel.May(model.may);
viewModel.June(model.june);
viewModel.July(model.july);
viewModel.August(model.august);
viewModel.September(model.september);
viewModel.October(model.october);
viewModel.November(model.november);
viewModel.December(model.december);

{% endblock %}
