{% extends "base.html" %}

{% block title %} {{recipe.title}} (Edit) {% endblock %}

{% block content %}

{% verbatim %}
<script type="text/html" id="ingredientTemplate">
   <table id="ingredienttable">
      <colgroup>
         <col width="200"/>
         <col width="40"/>
         <col/>
      </colgroup>
      <thead><tr>
            <td>Name</td>
            <td>Amount</td>
            <td>Note</td>
      </tr></thead>
      <tbody>
         {{each ingredients}}
         <tr class="ingrediententry">
            <td><input class="ingredientautocomplete" data-bind="value: name" /></td>
            <td><input data-bind="value: qty" /></td>
            <td><input data-bind="value: note" /></td>
         </tr>
         {{/each}}
      </tbody>
   </table>
</script>
{% endverbatim %}

<form method="post" action="/edit" data-bind="submit: doSubmit">

   <h3>Title:</h3>
   <input id="titleentry" size="40" data-bind="value: title" />

   <h3>Ingredients:</h3>
   <div id="ingredienttable">
      <div data-bind="template: 'ingredientTemplate'"></div>
   </div>

   <div id="seasonbar">
      <h3>Season:</h3>
      <div id="seasons">
         <a href="#" id="spring">Spring</a><br/>
         <a href="#" id="summer">Summer</a><br/>
         <a href="#" id="autumn">Autumn</a><br/>
         <a href="#" id="winter">Winter</a><br/>
         <a href="#" id="none">None</a><br/>
         <a href="#" id="all">All</a><br/>
      </div>
      <div class="months">
         {% for month in months %}
         <input type="checkbox" name="{{ month|lower }}">{{ month }}</input><br>
         {% endfor %}
      </div>
   </div>

   <div id="instructions">
      <h3>Instructions:</h3>
      <textarea data-bind="value: instructions, valueUpdate: 'afterkeydown'"></textarea>
   </div>

   <input type="hidden" name="key" value="{{recipe.key}}"></input>

   <button type="submit">Save</button>

   <h3>Preview:</h3>
   <div data-bind="html: instructions_html"></div>
   
</form>

{% endblock %}


{% block viewmodel %}
function ingredientViewModel(name, qty, note) {
  this.name = name;
  this.qty = qty;
  this.note = note;
}

model = {{json}};
model.ingredientArray = function() {
  var retval = [];
  for (var i=0; i<model.ingredients.length; i++)
  {
    ing = model.ingredients[i];
    retval.push(new ingredientViewModel(ing.ingredient.name, ing.quantity, ing.note));
  }
  return retval;
}

var converter = new Attacklab.showdown.converter();

viewModel = {
  title: ko.observable(model.title),
  ingredients: ko.observableArray(model.ingredientArray()),
  instructions: ko.observable(model.instructions),

  doSubmit: function() {
  }
};
viewModel.instructions_html = ko.dependentObservable(function() {
  return converter.makeHtml(this.instructions());
}, viewModel);

{% endblock %}
