{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %}

{% if is_admin %}
<section id="admincontrols">
   <a href="/newrecipe">New Recipe</a>
</section>
{% endif %}

<section>
   <h1>What's in season?</h1>

   <section id="calendar">
      <div id="monthlinks">
         <div><a href="/January">Jan</a></div>
         <div><a href="/February">Feb</a></div>
         <div><a href="/March">Mar</a></div>
         <div><a href="/April">Apr</a></div>
         <div><a href="/May">May</a></div>
         <div><a href="/June">Jun</a></div>
         <div><a class="current" href="/July">Jul</a></div>
         <div><a href="/August">Aug</a></div>
         <div><a href="/September">Sep</a></div>
         <div><a href="/October">Oct</a></div>
         <div><a href="/November">Nov</a></div>
         <div><a href="/December">Dec</a></div>
      </div>
      <div id="seasonlinks">
         <div class="one-col"><a href="/Winter">Winter</a></div>
         <div class="three-col"><a href="/Spring">Spring</a></div>
         <div class="three-col"><a class="current" href="/Summer">Summer</a></div>
         <div class="three-col"><a href="/Fall">Fall</a></div>
         <div class="two-col"><a href="/Winter">Winter</a></div>
      </div>
   </section>

   <h1>Browse by...</h1>

   <section id="browsecategories">
      <div class="flyout" id="flyout-title">
         See all the recipes, indexed by title.
      </div>
      <div class="category tl"><a data-flyout="flyout-title" href="/recipes">Title</a></div>
      <div class="category tr"><a data-flyout="flyout-tag" href="/tags">Tag</a></div>
      <div class="flyout" id="flyout-tag">
         Find recipes by category.
      </div>
      <br/>
      <div class="flyout" id="flyout-ingredient">
         Got leeks? Find recipes that include them.
      </div>
      <div class="category bl"><a data-flyout="flyout-ingredient" href="/ingredients">Ingredient</a></div>
      <div class="category br"><a data-flyout="flyout-note" href="/stickies">Notes</a></div>
      <div class="flyout" id="flyout-note">
         See which recipes have notes from the author.
      </div>
   </section>

   <h1>Feeling lucky?</h1>
   <section id="lucky">
      <div><a href="/random">Random Recipe</a></div>
   </section>
      

</section>

<script type='text/javascript'>

   function doHoverAction(elem, opacity, color) {
   var flyout = $('#' + $(elem).attr('data-flyout'))
   flyout.stop().fadeTo(500, opacity);
   $(elem).parent().css('background', color)
   }

   $(function() {
   $('.category a').hover(
   function (e) {doHoverAction(e.target, 1, '#55e')},
   function (e) {doHoverAction(e.target, 0, '#eee');});

   $('#lucky a').hover(
   function(e) {$(e.target).parent().css('background', '#55e');},
   function(e) {$(e.target).parent().css('background', '#eee');});
   });
</script>

{% endblock %}

