{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %}

<section>
   <h1>What's in season?</h1>

   <section id="calendar">
      <div id="monthlinks">
         {% for m in months %}
         <div id="{{m.shortlower}}" class="{{m.cls}}">
            <a title="{{m.full}}" href="/{{m.full}}">{{m.short}}</a>
         </div>
         {% endfor %}
      </div>
      <div id="seasonlinks">
         {% for s in seasons %}
         <div class="{{s.cls}}">
            <a data-months="{{s.months|lower}}" href="/{{s.name}}">
               <img src="/static/css/{{s.name|lower}}.png"/>
            </a>
         </div>
         {% endfor %}
      </div>
   </section>

   <h1>Browse by...</h1>

   <section id="browsecategories">
      <div class="flyout" id="flyout-title">
         See all the recipes, indexed by title.
      </div>
      <div class="category tl"><a data-flyout="flyout-title" href="/recipes">Title</a></div>
      <div class="category tr"><a data-flyout="flyout-tag" {#href="/tags"#}>Tag</a></div>
      <div class="flyout" id="flyout-tag">
         Find recipes by category.
      </div>
      <br/>
      <div class="flyout" id="flyout-ingredient">
         Got leeks? Find recipes that include them.
      </div>
      <div class="category bl"><a data-flyout="flyout-ingredient" href="/ingredients">Ingredient</a></div>
      <div class="category br"><a data-flyout="flyout-note" href="/stickies">Notes</a></div>
      <div class="flyout" id="flyout-note">
         See which recipes have notes from the author.
      </div>
   </section>

   <h1>Feeling lucky?</h1>
   <section id="lucky">
      <div><a href="/random">Random Recipe</a></div>
   </section>
      

</section>

<script type='text/javascript'>

   function doHoverAction(elem, opacity, color) {
   var flyout = $('#' + $(elem).attr('data-flyout'))
   flyout.stop().fadeTo(500, opacity);
   if (opacity === 1) $(elem).parent().addClass('hovering');
   else $(elem).parent().removeClass('hovering');
   }

   $(function() {
   $('.category a').hover(
   function (e) {doHoverAction(e.target, 1, '#55e')},
   function (e) {doHoverAction(e.target, 0, '#eee');});

   function seasonHoverIn(elem) {
     $(elem).parent('div').addClass('hovering');
     $($(elem).attr('data-months')).addClass('hovering');
   }
   function seasonHoverOut(elem) {
     $(elem).parent('div').removeClass('hovering');
     $($(elem).attr('data-months')).removeClass('hovering');
   }

   $('#seasonlinks a, #seasonlinks img').hover(
     function(e) {seasonHoverIn(e.target);},
     function(e) {seasonHoverOut(e.target);});
   });
   $('#monthlinks div a').hover(
     function(e) { $(e.target).parent('div').addClass('hovering'); },
     function(e) { $(e.target).parent('div').removeClass('hovering'); });
</script>

{% endblock %}

