{% extends "base.html" %}

{% block title %} Ingredients by Name {% endblock %}

{% block content %}

<section>
   <h1>Ingredients by Name</h1>

   <section id="index">
      {% for letter in keys %}
      <a href="#{{letter}}">{{letter|upper}}</a>&nbsp;&nbsp;
      {% endfor %}
   </section>

   {% for k in keys %}
   <section class="toc">
      <h3><a name="{{k}}">{{k|upper}}</a></h3>
      <section>
         {% for i in buckets|dict_get:k %}
         <a href="/ingredient/{{i.key}}">{{i.name}}</a>
         ({{i.quantifiedingredient_set.count}} recipes) <br/>
         {% endfor %}
      </section>
   </section>
   {% endfor %}
</section>

{% endblock %}
