{% extends "base.html" %}

{% block title %} Search {% endblock %}

{% block content %}

<section>
   Your query: '{{query}}'

   <h3>Tag matches:</h3>
   <ul>
      {% for t in tags %}
      <li><a href="/tag/{{t.tag}}">{{t.tag}}</a></li>
      {% endfor %}
   </ul>

   <h3>Ingredient matches:</h3>
   <ul>
      {% for i in ingredients %}
      <li><a href="/ingredient/{{i}}">{{i.name}}</a></li>
      {% endfor %}
   </ul>

   <h3>Recipe matches:</h3>
   <ul>
      {% for r in recipes %}
      <li><a href="/recipe/{{r.key}}">{{r.title}}</a></li>
      {% endfor %}
   </ul>
</section>

{% endblock %}
