{% extends "base.html" %}

{% block title %} {{recipe.title}} {% endblock %}

{% block content %}

{% verbatim %}
<script type="text/html" id="ingredientTemplate">
<ul>
   {{each ingredients}}
   <li>
      ${ name } &ndash; ${ quantity }
      {{ if note != '' }} (${ note }) {{ /if }}
   {{/each}}
</ul>
</script>


<script type="text/html" id="stickyTemplate">
   <div class="sticky drop-shadow lifted">${ text }</div>
</script>
{% endverbatim %}

<div id="sticky-container">
   <div data-bind="template: {name: 'stickyTemplate', foreach: stickies}"></div>
   <div id="new-sticky-form" class="sticky drop-shadow lifted">
      <form method="post" action="/recipe/{{recipe.key}}/stickies">
         <h4>Add a note:</h4>
         <textarea name="text"></textarea>
         <input type="submit"/>
      </form>
   </div>
</div>


<div class="recipe drop-shadow curved curved-vt-2">
   <div class="modify">
      <a href="/edit/{{recipe.key}}">(Edit)</a><br/>
      <a class="deleteinit" href="#">(Delete)</a><br/>
      <form class="deleteconfirm" action="/delete" method="post">
         <em>Are you sure?</em>
         <input type="hidden" value="{{recipe.key}}" name="key" id="deletekey" />
         <a href="#" class="deleteconfirmyes">YES</a>
      </form>
   </div>
   <h2><span data-bind="text: title" /></h2>
   <div class="yield">Source: <span data-bind="text: source" /></div>
   <div class="seasonnote" data-bind="text: joinedMonths"></div>
   <div class="yield">Yield: <span data-bind="text: yeeld" /></div>
   <div data-bind="template: 'ingredientTemplate'"></div>
   <span data-bind="html: instructions_html" />
</div>

{% endblock %}


{% block viewmodel %}
viewModel = {{ json|safe }};

var converter = new Attacklab.showdown.converter();
viewModel.instructions_html = converter.makeHtml(viewModel.instructions)

var stickies = viewModel.stickies
viewModel.stickies = ko.observableArray(stickies)

viewModel.enabledMonths = []
if (viewModel.january) { viewModel.enabledMonths.push("January"); }
if (viewModel.february) { viewModel.enabledMonths.push("February"); }
if (viewModel.march) { viewModel.enabledMonths.push("March"); }
if (viewModel.april) { viewModel.enabledMonths.push("April"); }
if (viewModel.may) { viewModel.enabledMonths.push("May"); }
if (viewModel.june) { viewModel.enabledMonths.push("June"); }
if (viewModel.july) { viewModel.enabledMonths.push("July"); }
if (viewModel.august) { viewModel.enabledMonths.push("August"); }
if (viewModel.september) { viewModel.enabledMonths.push("September"); }
if (viewModel.october) { viewModel.enabledMonths.push("October"); }
if (viewModel.november) { viewModel.enabledMonths.push("November"); }
if (viewModel.december) { viewModel.enabledMonths.push("December"); }

if (viewModel.enabledMonths.length == 12) viewModel.joinedMonths = "Year-round";
else if (viewModel.enabledMonths.length == 0) viewModel.joinedMonths = "No season";
else viewModel.joinedMonths = viewModel.enabledMonths.join(', ');

$('#imageform').ajaxForm({
dataType: 'text/javascript',
success: function(data) {
viewModel.stickies.push(JSON.parse(data));
},
});
{% endblock %}
