{% extends "base.html" %}

{% block title %} {{recipe.title}} {% endblock %}

{% block content %}

{% verbatim %}
<script type="text/html" id="ingredientTemplate">
<ul>
   {{each ingredients}}
   <li>
      ${ ingredient.name } &ndash; ${ quantity }
      {{ if note != '' }} (${ note }) {{ /if }}
   {{/each}}
</ul>
</script>
{% endverbatim %}

<div class="recipe">
   <div class="modify">
      <a href="/edit/{{recipe.key}}">(Edit)</a><br/>
      <a class="deleteinit" href="#">(Delete)</a><br/>
      <form class="deleteconfirm" action="/delete" method="post">
         <em>Are you sure?</em>
         <input type="hidden" value="{{recipe.key}}" name="key" id="deletekey" />
         <a href="#" class="deleteconfirmyes">YES</a>
      </form>
   </div>
   <h2><span data-bind="text: title" /></h2>
   <div class="seasonnote" data-bind="text: joinedMonths"></div>
   <div class="yield">Yield: <span data-bind="text: yeeld" /></div>
   <div data-bind="template: 'ingredientTemplate'"></div>
   <span data-bind="html: instructions_html" />
</div>

{% endblock %}


{% block viewmodel %}
viewModel = {{ json }};

var converter = new Attacklab.showdown.converter();
viewModel.instructions_html = converter.makeHtml(viewModel.instructions)

viewModel.enabledMonths = []
if (viewModel.january) { viewModel.enabledMonths.push("January"); }
if (viewModel.february) { viewModel.enabledMonths.push("February"); }
if (viewModel.march) { viewModel.enabledMonths.push("March"); }
if (viewModel.april) { viewModel.enabledMonths.push("April"); }
if (viewModel.may) { viewModel.enabledMonths.push("May"); }
if (viewModel.june) { viewModel.enabledMonths.push("June"); }
if (viewModel.july) { viewModel.enabledMonths.push("July"); }
if (viewModel.august) { viewModel.enabledMonths.push("August"); }
if (viewModel.september) { viewModel.enabledMonths.push("September"); }
if (viewModel.october) { viewModel.enabledMonths.push("October"); }
if (viewModel.november) { viewModel.enabledMonths.push("November"); }
if (viewModel.december) { viewModel.enabledMonths.push("December"); }

if ($.inArray(viewModel.enabledMonths.length, [0,12]) != -1) viewModel.joinedMonths = "Year-round";
else viewModel.joinedMonths = viewModel.enabledMonths.join(', ');
{% endblock %}
