{% verbatim %}
<script type="text/html" id="ingredientTemplate">
<ul>
   {{each ingredients}}
   <li>
      {{ html name }}
      {{ if quantity != null }} &ndash; {{ html quantity }} {{ /if }}
      {{ if note != null }} ({{ html note }}) {{ /if }}
   {{/each}}
</ul>
</script>

<script type="text/html" id="tagTemplate">
<div><a href="/tag/${$data}">${$data}</a></div>
</script>
{% endverbatim %}


<script type="text/html" id="stickyTemplate">
   <div class="sticky drop-shadow raised">
      {% if_admin %} 
      <div class="modify">
         <a class="deleteinit" href="#">(X)</a><br/>
         <form class="deleteconfirm" action="/deletesticky" method="post">
            <em>Really?</em>
            {% verbatim %}
            <input type="hidden" value="${key}" name="key" />
            {% endverbatim %}
            <a href="#" class="deleteconfirmyes">YES</a>
         </form>
      </div>
      {% endif %}
      <div data-bind="html: html"></div>
   </div>
</script>

<div id="sticky-container">
   <div data-bind="template: {name: 'stickyTemplate', foreach: stickies}"></div>
   {% if_admin %}
   <div><div id="new-sticky-form" class="sticky raised ">
      <form id="stickyform" method="post" action="/recipe/{{recipe.key}}/stickies">
         <h4>Add a note:</h4>
         <textarea name="text"></textarea>
         <input type="submit" value="Save"/>
      </form>
   </div></div>
   {% endif %}
</div>

<div class="recipe">
   {% if_admin %}
   <div class="modify">
      <a href="/edit/{{recipe.key}}">(Edit)</a><br/>
      <a class="deleteinit" href="#">(Delete)</a><br/>
      <form class="deleteconfirm" action="/delete" method="post">
         <em>Are you sure?</em>
         <input type="hidden" value="{{recipe.key}}" name="key" id="deletekey" />
         <a href="#" class="deleteconfirmyes">YES</a>
      </form>
   </div>
   {% endif %}
   <h2><span data-bind="text: title" /></h2>
   <div id="tagview">
      <h4>Tagged as:</h4>
      <div data-bind="template: {name: 'tagTemplate', foreach: tags}"></div>
   </div>
   <div class="yield" data-bind="html: source_html"></div>
   <div class="seasonnote" data-bind="text: joinedMonths"></div>
   <div class="yield">Yield: <span data-bind="text: yeeld" /></div>
   <div data-bind="template: 'ingredientTemplate'"></div>
   <span data-bind="html: instructions_html" />
</div>
