.container {
    width: 710px;
}

header {
    padding-top: 20px;
}

header img {
    padding: 1em;
}

header a, a:hover, a:visited {
    color: #000;
    text-decoration: none;
}

section {
    margin-top: 1em;
    font-size: 120%;
    padding: 20px;
}

section h1 {
    font-size: 200%;
}

thead tr td {
    font-weight: bold;
}

h3 input {
    font-size: 1.5em;
}

nav {
    float: right;
    padding: 0.5em 0;
    white-space: nowrap;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0.2em 0;
}

nav ul li {
    padding: 0 5px;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

header h1 {
    font-family: georgia, times, serif;
    font-variant: small-caps;
}
