@font-face {
    font-family: "Goudy";
    src: url(/static/css/GoudyBookletter1911.otf);
}

@font-face {
    font-family: "FanwoodText";
    src: url(/static/css/Fanwood.otf);
}

@font-face {
    font-family: "FanwoodTextItalic";
    src: url(/static/css/FanwoodText-Italic.otf);
}

.container {
    width: 710px;
}

header {
    padding-top: 20px;
}

header img {
    padding: 1em;
}

header a, a:hover, a:visited {
    color: #000;
    text-decoration: none;
}

section {
    margin-top: 1em;
    font-size: 120%;
    padding: 20px;
}

section h1 {
    font-size: 200%;
}

thead tr td {
    font-weight: bold;
}

#titleentry {
    font-size: 1.5em;
    width: 100%;
}

h3 {
    margin-top: 1.5em;
    margin-bottom: 0.25em;
}

h3 #morerows {
    font-size: x-small;
}

nav {
    float: right;
    padding: 0.5em 0;
    white-space: nowrap;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0 5px;
    font-weight: bold;
    font-size: 125%;
}

nav ul li a:hover {
    text-decoration: underline;
}

header h1 {
    font-variant: small-caps;
}

body {
    font-family: FanwoodText, georgia, serif;
}

body em {
    font-family: FanwoodTextItalic, georgia, serif;
}

h1 {
    font-size: 4em;
}

h1,h2 {
    font-family: Goudy, georgia, serif;
}

div.recipe {
    font-size: large;
    position: relative;
    margin: 1em;
    padding: 1em;
    padding:1em; 
    background:#fff;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
    -moz-border-radius:4px; 
         border-radius:4px;
}

div.recipe:before,
div.recipe:after {
    content:"";
    position:absolute;
    z-index:-2;
    bottom:15px;
    left:10px;
    width:50%;
    height:20%;
    max-width:300px;
    -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);   
       -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
            box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
    -webkit-transform:rotate(-3deg);    
       -moz-transform:rotate(-3deg);   
        -ms-transform:rotate(-3deg);   
         -o-transform:rotate(-3deg);
            transform:rotate(-3deg);
}

div.recipe:after {
    right:10px; 
    left:auto;
    -webkit-transform:rotate(3deg);   
       -moz-transform:rotate(3deg);  
        -ms-transform:rotate(3deg);  
         -o-transform:rotate(3deg);
            transform:rotate(3deg);
}

table, tr.ingrediententry input {
    width: 100%;
}

#instructions textarea {
    width: 90%;
}

div#seasonbar {
    float:right;
    width: 150px;
    margin-top: 1.5em;
}

div#seasonbar div {
    font-size: 75%;
}

div#seasonbar h3 {
    margin-top: 0;
}

#seasons {
    float: right;
}

#instructions {
    width: 550px;
}

div.recipe div.modify {
    font-size: small;
    float: right;
    text-align: right;
}

.deleteconfirm {
    display: none;
}
