@font-face {
    font-family: "Goudy";
    src: url(/static/css/GoudyBookletter1911.otf);
}

@font-face {
    font-family: "FanwoodText";
    src: url(/static/css/Fanwood.otf);
}

@font-face {
    font-family: "FanwoodTextItalic";
    src: url(/static/css/FanwoodText-Italic.otf);
}

.container {
    width: 710px;
    background: white;
    border: 1px solid gray;
    border-top: 0;
    padding-bottom: 2em;
}

header {
    padding: 2em 1em 0 1em;
}

header a, header a:hover, header a:visited {
    color: black;
    text-decoration: none;
}

#admincontrols {
    background: #eee;
    padding: 1em;
    margin-bottom: 1em;
}

section {
    margin-top: 1em;
    font-size: 120%;
    padding: 0 20px;
    clear: both;
}

section h1 {
    font-size: 200%;
}

thead tr td {
    font-weight: bold;
}

#titleentry {
    font-size: 1.5em;
    width: 100%;
}

h3 {
    margin-top: 1.5em;
    margin-bottom: 0.25em;
}

h3 #morerows {
    font-size: x-small;
}

header nav {
    float: right;
    padding: 0.5em 0;
    white-space: nowrap;
}

header nav ul {
    margin: 0;
    padding: 0;
}

header nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0 5px;
    font-size: 125%;
    margin-top: 0.5em;
}

header h1 {
    font-variant: small-caps;
}

body {
    font-family: georgia, serif;
    background-image: url('/static/wallpaper.jpg');
    background-repeat: repeat;
}

h1 {
    font-size: 4em;
}

h1,h2,h3 {
    font-family: Goudy, georgia, serif;
}

div.recipe h2 {
    margin-bottom: 0;
}

.seasonnote, .yield {
    margin-bottom: 1em;
    font-size: smaller;
    font-style: italic;
}

label {
    font-weight: normal;
}

div.recipe {
    font-size: large;
    position: relative;
    margin: 1em 0;
    padding: 1em;
    padding:1em; 
    background:#fff;
}


div.recipe img {
    border: 1px solid gray;
    padding: 2px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table, tr.ingrediententry input {
    width: 100%;
    margin: 0;
}

tr {
    margin: 0;
}

textarea {
    resize: vertical;
}

#instructions textarea {
    width: 98%;
}

#monthbuttonset {
    font-size: small;
}

.modify {
    font-size: small;
    float: right;
    text-align: right;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}

.deleteconfirm {
    display: none;
    color: red;
}

#imageupload {
    right: 1%;
    overflow-x: hidden;
}

#imageupload h3, #markdownhelp h3 {
    text-align: center;
    margin-top: 0.25em;
}

#markdownhelp {
    left: 1%;
}

#imageupload, #markdownhelp {
    position: fixed;
    width: 225px;
    bottom: 10%;
    max-height: 80%;
    border: 1px solid gray;
    padding: 5px;
    overflow-y: auto;
    clip: auto;
    background-color: white;
}

#markdownhelp pre {
    margin: 0;
    font-size: 9pt;
}

h4 {
    margin: 0.75em 0 0 0;
}

#markdownhelp .more {
    text-align: right;
    font-size: smaller;
    margin: 0;
}


#sticky-container {
    position: absolute;
    right: 5%;
    width: 220px;
}

.sticky {
    width: 100%;
    margin: 1em 0;
    background: #ff8;
    min-height: 4em;
    padding: 10px;
}

.sticky textarea {
    width: 94%;
    min-height: 4em;
    height: 0;
}


.titlecard-sticky {
    float: right;
    margin-top: 0.75em;2
    font-size: smaller;
}

.stickyrect {
    background: rgb(255,255,100);
    display: inline-block;
    vertical-align: center;
    margin-left: 1px;
    margin-right: 2px;
    margin-bottom: -3px;
    width: 1em;
    height: 1em;
    border: 1px solid gray;
}

div.recipe .yield p {
    margin: 0;
}


#calendar {
    width: 612px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4em;
    clear: both;
}

#calendar div div {
    color: #888;
    background: #eee;
    border: 1px solid gray;
    float: left;
}

#calendar div div a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    text-decoration: none;
    color: #888;
}

#calendar .current {
    background: #ccc;
}

.hovering {
    background: #55e !important;
}
.hovering a {
    color: white !important;
}

#monthlinks div {
    width: 50px;
    height: 30px;
    line-height: 30px;
    margin: 0 0 0 -1px;
}

#seasonlinks {
    clear: both;
}

#seasonlinks div {
    border-top: none !important;
    height: 45px;
    width: 50px;
    margin: 0 0 0 -1px;
}

#seasonlinks img {
    margin: 7px;
}

#seasonlinks .two-col {
    width: 101px;
}

#seasonlinks .three-col {
    width: 152px;
}


/* -------------------------------------------------------------------------------- */
#browsecategories {
    margin: 0 auto;
    margin-bottom: 6em;
}

#browsecategories div {
    width: 150px;
    float: left;
}

#browsecategories .category {
    border: 1px solid gray;
    background: #eee;
    margin: -1px 0 0 -1px;
}

.tl { border-top-left-radius: 15px; }
.tr { border-top-right-radius: 15px; }
.bl { border-bottom-left-radius: 15px; }
.br { border-bottom-right-radius: 15px; }

#browsecategories a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    text-decoration: none;
    line-height: 75px;
    color: #888;
}

#browsecategories br {
    clear: both;
}

#browsecategories a:hover {
    color: white;
}

#browsecategories .flyout {
    opacity: 0;
    background: transparent;
    font-size: small;
}

#flyout-title {
    text-align: right;
    padding-right: 1em;
    padding-top: 1.5em;
}

#flyout-ingredient {
    text-align: right;
    padding-right: 1em;
    padding-top: 0.5em;
}

#flyout-tag {
    padding-left: 1em;
    padding-top: 1.5em;
}

#flyout-note {
    padding-left: 1em;
    padding-top: 0.5em;
}



#lucky div {
    width: 300px;
    height: 45px;
    line-height: 45px;
    background: #eee;
    margin: auto;
    text-align: center;
    border-radius: 15px;
    border: 1px solid gray;
}

#lucky a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    text-decoration: none;
    color: #888;
}

#lucky a:hover {
    color: white;
}

footer {
    margin: 5em 2em;
    margin-bottom: 0;
    border-top: 1px solid gray;
    padding-top: 0.5em;
}

footer nav {
    float: right;
}

footer nav a {
    text-decoration: none;
    color: #888;
    display: block;
    width: 6em;
    background: #eee;
    text-align: center;
    border: 1px solid gray;
    border-radius: 5px;
}

footer nav a:hover {
    background: #55e;
    color: white;
}


#index a {
    font-family: Goudy, georgia, serif;
    font-size: 125%;
}

.toc h3 a {
    text-decoration: none;
    color: black;
}

.toc section {
    font-size: 100%;
}


#about img {
    float: right;
    padding: 0.25em;
    margin: 0.4em;
    box-shadow: 0 1px 4px rgba(0,0,0,0.5), 0 0 20px rgba(0, 0, 0, 0.1) inset;
}
